@media screen and (min-width: 991px) {
    /*Hides the navigation from the popup menu when the screen is large*/
    li.mobile-nav {
        display: none;
    }
}

@media screen and (max-width:990px) {
    /*Hides the vertical navbar on the left when the screen is small*/
    div.vertical-nav {
        display: none;
    }

    /*Centers content properly when the vertical nav is hidden*/
    .main-content {
        grid-column: 1/3;
    }

    /*Styling to make the logo appear smaller when the screen is small*/
    .nav-container {
        padding-left: 75px;
        padding-top: 5px;
    }

    .logo-container {
        width: 75px;
        height: 75px;
        padding: 7px;
    }

    .logo {
        height: 60px;
        width: 60px;
        margin: auto;
    }

    /*Formats things correctly for the landing page*/
    .main-content.landing-page {
        margin: 25px 0 25px 0;
    }

    .tagline h1, .tagline h3 {
        max-width: 50vw;
        min-width: 225px;
    }
}

@media screen and (max-width: 570px) {

    /*Makes the main content take up more of the page on smaller screens*/
    .main-content {
        width: 100%;
        padding: 0;
    }

    /*Shrinks the title on the landing page on smaller screens*/
    .tagline h1, .tagline h3 {
        max-width: 50vw;
        min-width: 300px;
        padding: 5px;
    }

    .subtitle {
        margin-left: 50px;
    }
}

@media screen and (max-width: 380px) {
    /*Shrinks the text in the navbar when teh screen is very small*/
    .navbar-brand {
        font-size: 1em;
    }
}
